# Automatically normalize line endings.
* text=auto

# Directories to exclude from `composer require`.
/.github        export-ignore
/tests          export-ignore

# Don't include the dotfiles for distribution.
/.* export-ignore

# Root files that are not needed for distribution.
/composer.lock     export-ignore
/package-lock.json export-ignore
/package.json      export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist  export-ignore

# Mark docs as documentation for GitHub Linguist.
/docs/ linguist-documentation
/LICENSE.md linguist-documentation
/README.md linguist-documentation